*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background: #0000;
  background: linear-gradient(to right, #0000) 
}

.App-header {
  background: url('./header.jpg');
  position: relative;
  background-size: 100%;
}
h1{
  color: #ffff;
  top: auto;
  text-align: center;
  font-size: 60px;
}
@media screen and (min-width:767px) {
  .App-header{
    height: 280px;
  }  
}
main {
  
  background: linear-gradient(217deg, rgba(255,0,0,0), rgb(106, 90, 205) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,0),rgb(106, 90, 205) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,0), rgb(106, 90, 205) 70.71%);
}
.search-box{
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 20px -8px #d8d8d8;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.search-box>input{
  background: none;
  border: none;
  outline: 0;
  width: 40%;
  height: 30px;
  margin: 0.5rem;
  
}
::placeholder {
  color: black; 
  font-weight: bold;
}
.search-box>button{
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 20px -8px #d8d8d8;
  margin-left: auto;
  margin-right: auto;
}

.locationBox {
  background-color: #29352c52;
  box-shadow: 0 3px 20px -12px #030303;
  color:  var(--white);
  border-radius: 4px;
  border-radius: 4px;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.locationDetails{
  display: flex;
  justify-content: space-around;
  padding: 0 1.2rem;
}
.locationDetails>p{
  padding: 1rem;
  margin: 1rem 0;
}
.title-info{
  font-weight: 700;
}

.info{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 50vh;
  margin: 2rem 0 0 0;
  
}
.item-info{
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 3px 20px -12px #030303;
  max-width: 180px;
  height: fit-content;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  transition: 300ms ease;
  padding: .5rem 1rem 1rem 1rem;
  flex: 1 1 150px;
}
.item-info>img{
  width: 100%;
  border-radius: 4px 4px 0 0;
  transition: 100ms linear;
}
.item-info>img:hover{
  transform: scale(1.04);
}
.info-details{
  padding: .5rem 1rem 1rem 1rem;
}
.info-details>h3{
  text-align: center;
  padding: .5rem;
}
.info-details>p{
  text-transform: uppercase;
  font-size: .6rem;
  font-weight: 800;
  line-height: 1.2rem;
}


.status{
  background-color: var(--white);
  box-shadow: 15px 5px 25px -7px;
  color: #ffff;
  border-radius: 0 2px 2px 0;
  padding: .1rem 1rem .1rem .7rem;
  position: absolute;
  display: flex;
  align-items: center;
  top: 15px;
  left: 0;
}
.status-circle{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: .5rem;
}
.green{
  background: #AAFF00;
}
.red{
  background: #FF0000;
}
.gray{
  background: #575757;
}
